body{
    margin: 0;
    padding: 0;
}
.contrainer{
    width: 90%;
    margin: auto;
}
.icon-area ul{
    list-style: none;

}
.icon-area ul li{
    display: inline-flex;

}
.icon-area ul li{
    background: rgb(109, 75, 75);
    color: rgb(243, 11, 11);
    font-size: 80px;
    padding: 8px 12px;
    display: inline-flex;
    border-radius: 35px;
    margin: 10px;
}
.icon-area ul li a:hover{
    background: rgb(199, 29, 29);
    color: papayawhip;
    border-radius: 30px;
    transition: 2.7s;
    background-color: chartreuse;

}
.demo{
    text-align: center;
}
.btn{
 text-decoration: black;
}
 .button{
     width: 90px;
     height: 40px;
    text-align: center;
    color: lightgreen;
    text-decoration:rgb(168, 47, 168) ;
    display: block;

}
marquee{
  background: black;
  color: white;
  margin: 10px;
  padding:10px;
}
.p{
  display: none;
  background: black;
  color: white;
  margin-left: 30px;
}
